body {
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}

div:first-child > h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 2.5em;
}

div > h2 {
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    text-align: center;
}

li {
    padding: 0.3rem;
}

#social > a > i {
    font-size: 2em;
}

.center {
  display: block;
  padding-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}